.toastui-editor-defaultUI
  .toastui-editor-main
  .toastui-editor-main-container
  .toastui-editor
  div {
  font-size: 16px !important;
  line-height: 1.6;
}
.toastui-editor-defaultUI
  .toastui-editor-main
  .toastui-editor-main-container
  .toastui-editor-md-preview
  .toastui-editor-contents {
  font-size: 16px !important;
  line-height: 1.6;
}

.toastui-editor-contents {
  font-size: 16px !important;
  line-height: 1.6;
}

.toastui-editor-defaultUI .ProseMirror {
  padding-bottom: 100px;
}
.toastui-editor-md-code,
.toastui-editor-md-code-block {
  font-family:
    "Consolas", "Yu Gothic", "JetBrains Mono", "Cascadia Code", "Monaco",
    "Source Code Pro", monospace;
}

.toastui-editor-contents pre,
.toastui-editor-contents pre code,
.toastui-editor-contents code {
  font-family:
    "Consolas", "Yu Gothic", "JetBrains Mono", "Cascadia Code", "Monaco",
    "Source Code Pro", monospace;
}
