@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

body {
  font-family: var(--pretendard), ui-sans-serif, system-ui, sans-serif;
}
html[lang="jp"] body {
  font-family: var(--noto-sans-jp), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-ellipsis-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
