@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--pretendard);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-ellipsis-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
